<!-- views/inventory/details.ejs -->
<section id="inv-detail">
  <div class="detail-container">
    <h1><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>

    <div class="detail-wrapper">
      <!-- Vehicle Image -->
      <div class="detail-media">
        <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %>">
      </div>

      <!-- Vehicle Specs -->
      <div class="detail-info">
        <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %> Details</h2>

        <div class="field price"><b>Price: $<%= priceFormatted %></b></div>
        <div class="field"><b>Description:</b> <%= vehicle.inv_description %></div>
        <div class="field"><b>Color:</b> <%= vehicle.inv_color %></div>
        <div class="field"><b>Miles:</b> <%= milesFormatted %></div>
      </div>
    </div>
  </div>

<!-- Error Link for assignment testing-->
  <div>
    <p>Assignment 3 - <a href="/inv/detail/10?dev500=1" id="error-link">Error Link</a></p>
  </div>

</section>