<!-- views/inventory/details.ejs -->
<section id="inv-detail">
  <div class="detail-container">
    <h1><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h1>

    <!-- Vehicle Image -->
    <div class="detail-media">
      <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %>">
    </div>

    <!-- Vehicle Specs -->
    <div class="detail-info">
      <h2><%= vehicle.inv_make %> <%= vehicle.inv_model %> Details</h2>

      <div class="field price">Price:</b> $<%= vehicle.inv_price.toLocaleString() %></div>
      <div class="field"><b>Description:</b> <%= vehicle.inv_description %></div>
      <div class="field"><b>Color:</b> <%= vehicle.inv_color %></div>
      <div class="field"><b>Miles:</b> <%= vehicle.inv_miles.toLocaleString() %></div>
    </div>
  </div>

<!-- Error Link -->
  <div>
    <a href="#" id="error-linl">Error Link</a>
  </div>

</section>